<h1>Welcome to CSE Motors!</h1>
<div class="hero-container">
  <div class="hero">
    <img src="/images/vehicles/delorean.jpg" alt="Delorean" />
  </div>
  <div class="hero-overlay">
    <h2>DMC Delorean</h2>
    <span>3 Cup holders</span>
    <span>Superman doors</span>
    <span>Fuzzy dice!</span>
    <img src="/images/site/own_today.png" alt="DCM Delorean" />
  </div>
</div>
<div class="main-sections">
  <section class="delorean-reviews">
    <h3>DMC Delorean Reviews</h3>
    <ul>
      <li>"So fast it's almost like traveling in time." (4/5)</li>
      <li>"Coolest ride on the road." (4/5)</li>
      <li>"I'm feeling McFly!" (5/5)</li>
      <li>"The most futuristic ride of our day." (4.5/5)</li>
      <li>"80's livin and I love it!" (5/5)</li>
    </ul>
  </section>
  <section class="delorean-upgrades">
    <h3>Delorean Upgrades</h3>
    <div class="upgrade-options-row">
      <div class="upgrade-option-group">
        <div class="upgrade-option">
          <img src="/images/upgrades/flux-cap.png" alt="Flux Capacitor" loading="lazy" />
        </div>
        <a href="/">Flux Capacitor</a>
      </div>
      <div class="upgrade-option-group">
        <div class="upgrade-option">
          <img src="/images/upgrades/flame.jpg" alt="Flame Decals" loading="lazy" />
        </div>
        <a href="/">Flame Decals</a>
      </div>
    </div>
    <div class="upgrade-options-row">
      <div class="upgrade-option-group">
        <div class="upgrade-option">
          <img src="/images/upgrades/bumper_sticker.jpg" alt="Bumper Stickers" loading="lazy" />
        </div>
        <a href="/">Bumper Stickers</a>
      </div>
      <div class="upgrade-option-group">
        <div class="upgrade-option">
          <img src="/images/upgrades/hub-cap.jpg" alt="Hub Caps" loading="lazy" />
        </div>
        <a href="/">Hub Caps</a>
      </div>
    </div>
  </section>
</div>